*{
	box-sizing: border-box;
}
html, body {
	min-height: 100vh;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 1.2em;
	background-color: #F0F8FF;
}
img{
	max-width: 100%;
}
div > div{
	width: 400px;
	height: 400px;
	padding: 25px;
	margin-bottom: 25px;
}
cite{
	font-size: .8em;
	margin-bottom: 50px;
}
.imagesSkins{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.active{
	background: #9932CC;
}
.buttons{
	padding: 20px;
	display: flex;
	justify-content: center;
}
.filter:hover {
  background-color: #9932CC;
}
.filter{
	font-family: 1em;
	margin-right: 10px;
	border-radius: 8px;
}

